{% extends 'base/signalements/base_signalement.html' %}

{% block content %}
	<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- Champ caché pour la localisation -->
    <input type="hidden" id="localisation" name="localisation">

    <!-- Municipalité (select dropdown) -->
    <div class="form-group">
        <label for="municipalite">Municipalité</label>
        <select id="municipalite" name="municipalite" class="form-control">
            <option value="" disabled selected>Sélectionnez une municipalité</option>
            {% for municipalite in municipalites %}
         <option value="{{ municipalite.id }}">{{ municipalite.nom}}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Type de déchet (select dropdown) -->
    <div class="form-group">
        <label for="type_dechet">Type de déchet</label>
        <select id="type_dechet" name="type_dechet" class="form-control">
            <option value="" disabled selected>Sélectionnez un type de déchet</option>
            {% for type_dechet in type_dechets %}
            <option value="{{type_dechet.id}}">{{type_dechet.nom}}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Titre (input text) -->
    <div class="form-group">
        <label for="titre">Titre</label>
        <input type="text" id="titre" name="titre" class="form-control" placeholder="Entrez le titre du signalement">
    </div>

    <!-- Description (textarea) -->
    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" class="form-control" rows="4" placeholder="Décrivez le problème de déchet..."></textarea>
    </div>

    <!-- Adresse (input text) -->
    <div class="form-group">
        <label for="adresse">Adresse</label>
        <input type="text" id="adresse" name="adresse" class="form-control" placeholder="Entrez l'adresse du lieu de signalement">
    </div>

    <!-- Photo (file upload) -->
    <div class="form-group">
        <label for="photo">Photo</label>
        <input type="file" id="photo" name="photo" class="form-control-file">
    </div>

    <!-- Localisation (input text) -->
    <div class="form-group">
        <div class="form-group">
            <!-- La carte sera affichée ici -->
            <div id="map" style="width: 100%; height: 500px;">
                {% include 'base/signalements/carte_signalement.html' %}
            </div>
        </div>
    </div>

    <!-- Bouton de soumission -->
    <button type="submit" class="btn btn-primary">Soumettre</button>
</form>



{% endblock %}
